* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

.layout {
    .content {
        margin: 30px;     
    }
}

@mixin navLgScreens() {
    @media screen and (max-width: 1115px) {
        @content;
    }
}


@mixin mdScreens() {
    @media screen and (max-width: 960px) {
        @content;
    }
}

@mixin smScreens() {
    @media screen and (max-width: 600px) {
        @content;
    }
}